last-laporan.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1456,
        368
      ],
      "id": "a45dd979-b557-42c5-be2b-dd1e271e6836",
      "name": "Telegram Trigger",
      "webhookId": "e4aecc4a-71d3-4a93-acd5-dfe8bd8faa94",
      "credentials": {
        "telegramApi": {
          "id": "Am554JJeP3qwKw8j",
          "name": "Bundahara Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.photo[3] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "492acec0-8f32-4c48-a736-62ce84314ca0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18f41aed-de25-45a5-b09a-e2b0676a5bc3",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/laporan",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "912cf41e-100e-403b-9e4a-e75236e9be15",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "db59aa19-4ca9-45b6-8ed2-7afb70d3bea0",
                    "leftValue": "={{ $json.message.photo[3] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1072,
        384
      ],
      "id": "a5f5a42f-51c3-4e62-84e5-3567aeb0aa82",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -768,
        128
      ],
      "id": "3fb9b20b-4eed-429a-a79e-326ec74d8ee9",
      "name": "Telegram",
      "webhookId": "e6cfcf0d-b19c-458f-941b-9b9b682a8225",
      "credentials": {
        "telegramApi": {
          "id": "Am554JJeP3qwKw8j",
          "name": "Bundahara Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc117795-c081-482b-bf20-4427b1cf2889",
              "leftValue": "ERROR:",
              "rightValue": "=ERROR:",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        128
      ],
      "id": "f38594d7-08cf-4a4d-a0f9-4ba178fd5e38",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=✅ Data belanja berhasil disimpan   \n🏪 Toko:{{ $json.TOKO }} \n📅 Tanggal:{{ $json['TANGGAL STRUK'] }}  \n📦 Items:{{ $json.ITEMS }}  \n💰 Total: Rp {{ $json.TOTAL }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        240
      ],
      "id": "0e082e74-8949-4915-aaa9-d5afe4d3a4f1",
      "name": "Telegram1",
      "webhookId": "533a2d71-ea64-42c7-9bba-627220e2e144",
      "credentials": {
        "telegramApi": {
          "id": "Am554JJeP3qwKw8j",
          "name": "Bundahara Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Struk tidak dapat dibaca dengan jelas.  Pastikan :  \n- Foto Struk jelas dan tidak blur  \n- Pencahayaan cukup  \n- Semua text terlihat silahkan coba foto ulang! )\n\nCHAT INI UNTUK : {{ $('Telegram Trigger').item.json.message.from.first_name }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        -32
      ],
      "id": "2b3b9c1e-aec5-47ac-8c0c-69a194748b8d",
      "name": "Telegram2",
      "webhookId": "810ac87d-c416-43b1-a63c-41695b0450cd",
      "credentials": {
        "telegramApi": {
          "id": "Am554JJeP3qwKw8j",
          "name": "Bundahara Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Kamu adalah parser text belanja yang mengubah input text fleksibel menjadi format terstruktur.\n\nTUGAS: Analisa text belanja dan ubah menjadi format PERSIS seperti ini:\n\nTOKO: nama toko dari text, jika tidak ada tulis 'Manual Input'\nTOTAL: total harga dalam Rupiah Rp/ribu/rb\nITEMS: daftar barang yang dibeli dengan kuantitas\nTANGGAL: {{ $now.format('yyyy-MM-dd') }}\n\nCONTOH:\nInput: \"beli Telur 1kg Rp 20rb di Toko Mbak Ita\"\nOutput:\nTOKO: Toko Mbak Ita\nTOTAL: 20000\nITEMS: Telur 1kg\nTANGGAL: 2025-06-19\n\nInput: \"beli susu ultra 2 botol sama roti tawar 15 ribu\"\nOutput:\nTOKO: Manual Input\nTOTAL: 15000\nITEMS: Susu Ultra 2 botol, Roti Tawar\nTANGGAL: 2025-06-19\n\nJika tidak bisa dipahami, berikan:\nERROR: Text belanja tidak dapat dipahami\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -688,
        816
      ],
      "id": "f3010f9f-f439-4445-b192-5c4a919169b7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -736,
        1008
      ],
      "id": "81b68c9c-94d2-41ba-9dbe-e27ac962fb9f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GXB9Oy0YDaTGpXpo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0ca2d115-e35b-438e-aaef-7fce78691110",
              "leftValue": "={{ $json.output }}",
              "rightValue": "ERROR:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        816
      ],
      "id": "c1862aa0-4a66-44ee-be84-00b840f8e170",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Tidak dapat membuat input belanja \n\nContoh Format yang benar: \n-\"beli telur 1kg Rp 20rb di Toko Mbak Har\" \n-\"beli susu ultra 2 botol sama roti tawar 15 ribu\" \n-\"belanja di alfamart beli mie indomie 5 bungkus 12000\" \n-\"jajan bakso 2 porsi 20 ribu\"\n\n💡 Tips: \n- Sebutkan barang yang dibeli \n- Sertakan harga (opsional) \n- Sebutkan nama toko (opsional)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        704
      ],
      "id": "c59d9b9f-2205-44a3-afa7-e0178cb3b14b",
      "name": "Telegram3",
      "webhookId": "e69415aa-baae-438f-a00d-f8d3241f0a53",
      "credentials": {
        "telegramApi": {
          "id": "Am554JJeP3qwKw8j",
          "name": "Bundahara Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=✅ *Data belanja berhasil disimpan*\n🏪 *Toko:*{{ $json.TOKO }}\n📅 *Tanggal:*{{ $json['TANGGAL INPUT'] }}\n📦 *Items:*{{ $json.ITEMS }}\n💰 *Total:Rp. *{{ $json.TOTAL }}\n*Waktu Belanjanya kapan: *{{ $json['TANGGAL STRUK'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        864
      ],
      "id": "bf881393-d3a8-49f0-8aea-6ddb3e617dfb",
      "name": "Telegram5",
      "webhookId": "47f51bcf-a4c5-4ace-9aac-97a214f4886d",
      "credentials": {
        "telegramApi": {
          "id": "Am554JJeP3qwKw8j",
          "name": "Bundahara Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=PENTING: Hanya berikan response dalam format di atas!\nPrompt Lihat Laporan\n\nKamu adalah asisten laporan keuangan untuk user Fauzi.\n\nINFORMASI WAKTU:\n- Waktu sekarang: {{ $now.format('yyyy-MM-dd') }}\n- Tanggal hari ini: {{ $today.format('yyyy-MM-dd') }}\n\nTUGAS:\n1. Analisa permintaan user untuk laporan pengeluaran\n2. Gunakan tool \"catatan_keuangan\" untuk ambil data catatan pengeluaran\n3. Filter data sesuai periode yang diminta:\n   - \"hari ini\" → data tanggal hari ini\n   - \"minggu ini\" → data tanggal 1 minggu terakhir\n   - \"bulan ini\" → data dalam bulan ini\n4. Hitung total pengeluaran dan jumlah transaksi\n5. Format laporan yang rapi dalam bahasa Indonesia\n\nSTRUKTUR DATA SHEETS:\n- Kolom A: Toko\n- Kolom B: Total (dalam rupiah)\n- Kolom C: Items \n- Kolom D: Tanggal Struk\n- Kolom E: Tanggal Input\n- Kolom F: Waktu Input\n\nBuatkan Format Yang Rapih dengan Emoji\n\n--\n\nPENTING: \n- Urutkan transaksi berdasarkan tanggal (terbaru ke terlama)\n- Gunakan format mata uang Indonesia (Rp 43.500)\n- Setiap detail transaksi dipisah dengan garis \"--\"\n- Gunakan emoji sesuai format di atas\n\nJika tidak ada data untuk periode tersebut, beri pesan ramah bahwa belum ada transaksi."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -544,
        384
      ],
      "id": "7d4ec776-fe4f-4964-b852-ebc59b84e156",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -608,
        592
      ],
      "id": "facdb1bf-d0cb-4995-8b16-7e7c3da4fa19",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "GXB9Oy0YDaTGpXpo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -192,
        384
      ],
      "id": "41662a3d-8970-4aa8-a7d9-cc8c3ece6815",
      "name": "Telegram6",
      "webhookId": "d78e152e-8d78-479d-b478-19664eb565ca",
      "credentials": {
        "telegramApi": {
          "id": "Am554JJeP3qwKw8j",
          "name": "Bundahara Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Analisa struk belanja pada gambar ini dan berikan informasi dalam format yang PERSIS seperti ini:\\n\\nTOKO: [nama toko dari struk]\\nTOTAL: [total pembayaran dalam angka saja tanpa Rp]\\nITEMS: [daftar barang yang dibeli, pisahkan dengan koma]\\nTANGGAL: [tanggal transaksi jika terlihat, atau tidak terlihat]\\n\\nContoh response yang benar:\\nTOKO: Alfamart\\nTOTAL: 25500\\nITEMS: Susu Ultra 1L, Roti Tawar, Sabun Lifebuoy\\nTANGGAL: 2025-06-19\\n\\nJika struk tidak jelas atau tidak bisa dibaca, berikan:\\nERROR: Struk tidak dapat dibaca dengan jelas\\n\\nPENTING: Hanya berikan response dalam format di atas!",
        "inputType": "base64",
        "options": {
          "detail": "auto"
        }
      },
      "id": "340dfa54-9ea9-48da-b074-b148f8a6221d",
      "name": "Analyze Image1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -368,
        128
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "1IXySknTEzNKrFKx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xd9HoBdqfBDzBlXXv9MoFQB8em0ZY4xfoyOSEIMIBSU",
          "mode": "list",
          "cachedResultName": "Laporan Pengeluaran Belanja Bulanan - 25 September 2025 s/d 24 Oktober 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xd9HoBdqfBDzBlXXv9MoFQB8em0ZY4xfoyOSEIMIBSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xd9HoBdqfBDzBlXXv9MoFQB8em0ZY4xfoyOSEIMIBSU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TOKO": "={{ $('Analyze Image1').item.json.content.match(/TOKO: (.+)/)[1] }}",
            "TOTAL": "={{ $('Analyze Image1').item.json.content.match(/TOTAL: (.+)/)[1] }}",
            "ITEMS": "={{ $('Analyze Image1').item.json.content.match(/ITEMS: (.+)/)[1] }}",
            "TANGGAL STRUK": "={{ $('Analyze Image1').item.json.content.match(/TANGGAL: (.+)/)[1] }}",
            "TANGGAL INPUT": "={{ $now.format('yyyy-MM-dd') }}",
            "WAKTU INPUT": "={{ $now.format('HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TOKO",
              "displayName": "TOKO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TOTAL",
              "displayName": "TOTAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ITEMS",
              "displayName": "ITEMS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TANGGAL STRUK",
              "displayName": "TANGGAL STRUK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TANGGAL INPUT",
              "displayName": "TANGGAL INPUT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WAKTU INPUT",
              "displayName": "WAKTU INPUT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        256,
        240
      ],
      "id": "bd4c43a3-7aad-46ae-ba81-2ea121ec6cf6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NQDqcN4IXTYOhWEw",
          "name": "Pertemuan 1"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LwrsYqMg7BagvTA4d3QURCVcrR2VQmRt-QsTi5LVRqc",
          "mode": "list",
          "cachedResultName": "Materi 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwrsYqMg7BagvTA4d3QURCVcrR2VQmRt-QsTi5LVRqc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1128735360,
          "mode": "list",
          "cachedResultName": "Catatan Belanja",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwrsYqMg7BagvTA4d3QURCVcrR2VQmRt-QsTi5LVRqc/edit#gid=1128735360"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -384,
        608
      ],
      "id": "7a89bf28-47d4-4964-b07e-f570edf23c74",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NQDqcN4IXTYOhWEw",
          "name": "Pertemuan 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LwrsYqMg7BagvTA4d3QURCVcrR2VQmRt-QsTi5LVRqc",
          "mode": "list",
          "cachedResultName": "Materi 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwrsYqMg7BagvTA4d3QURCVcrR2VQmRt-QsTi5LVRqc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1128735360,
          "mode": "list",
          "cachedResultName": "Catatan Belanja",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwrsYqMg7BagvTA4d3QURCVcrR2VQmRt-QsTi5LVRqc/edit#gid=1128735360"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TOKO": "={{ $json.output.match(/TOKO:(.+)/)[1]}}",
            "TOTAL": "={{ $json.output.match(/TOTAL:(.+)/)[1]}}",
            "ITEMS": "={{ $json.output.match(/ITEMS:(.+)/)[1]}}",
            "TANGGAL STRUK": "={{ $json.output.match(/TANGGAL:(.+)/)[1]}}",
            "TANGGAL INPUT": "={{ $now.format('yyyy-MM-dd') }}",
            "WAKTU INPUT": "={{ $now.format('HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TOKO",
              "displayName": "TOKO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TOTAL",
              "displayName": "TOTAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ITEMS",
              "displayName": "ITEMS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TANGGAL STRUK",
              "displayName": "TANGGAL STRUK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TANGGAL INPUT",
              "displayName": "TANGGAL INPUT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WAKTU INPUT",
              "displayName": "WAKTU INPUT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -112,
        912
      ],
      "id": "0e674d87-d0b6-4b9a-9c73-6f5ad9e922a1",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NQDqcN4IXTYOhWEw",
          "name": "Pertemuan 1"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "GAMBAR GAJELAS, BELI IPHONE GIH",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -992,
        736
      ],
      "id": "75caeda1-2a95-4f9e-bc70-88e55991c8af",
      "name": "Send a text message",
      "webhookId": "be961e32-0e1c-49eb-a8fd-9bd5e0fea1d8",
      "credentials": {
        "telegramApi": {
          "id": "Am554JJeP3qwKw8j",
          "name": "Bundahara Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Analyze Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Telegram6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram6": {
      "main": [
        []
      ]
    },
    "Analyze Image1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75fa6c51205b80e6e946e2f3cd69b3bb6efd37b7a2786cac4d1f6446d8453eed"
  }
}